.header-container {
    display: flex;
    align-items: center;
    background-color: #131921;
    color: white;
    padding: 10px 20px;
  }
  
  .header-logoBar {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .header-logoBar .logo {
    margin-right: 20px;
  }
  
  .header-logoBar .logo .image {
    width: 100px;
  }
  
  .header-addSelector {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .header-addSelector .menu-items {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .header-addSelector .menu-items .bold {
    font-weight: bold;
  }
  
  .header-searchBar {
    display: flex;
    flex-grow: 1;
    background-color: white;
    border-radius: 4px;
    margin-right: 20px;
  }
  
  #header-category {
    border: none;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    background-color: #f3f3f3;
  }
  
  .searchBar {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
  }
  
  .searchButton {
    background-color: #febd69;
    border: none;
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
  }
  
  .header-menuBar {
    display: flex;
    align-items: center;
  }
  
  .header-menuBar .menu-items {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .header-menuBar .menu-items .flag {
    display: flex;
    align-items: center;
  }
  
  .header-menuBar .menu-items .flag img {
    width: 20px;
    margin-right: 5px;
  }
  
  .header-menuBar .menu-items a, .header-menuBar .menu-items span {
    color: white;
    text-decoration: none;
  }
  
  .header-menuBar .menu-items a:hover, .header-menuBar .menu-items span:hover {
    text-decoration: underline;
  }
  
  